{% extends 'base_backoffice.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}




<h1> Ici c'est le backoffice !!!!!</h1>

<ul>
    {% for message in messages %}
        <li> 
            FullName: {{message.fullName}} <br>
            Email: {{ message.email }}<br>
            Subject: {{message.subject}} <br>
            Message: <p>{{ message.messageContent }} </p>
        </li>
    {% endfor %}
</ul>



{% endblock %}