<!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Nous sommes là pour vous orienter</h6>
                  <h4>Conseils<br>&amp; accompagnement</h4>
                  <p>Notre équipe d'experts juridiques est là pour vous informer et vous guider que ce soit en matière de droit international, de droit fiscal ou de droit du travail.</p>
                  <a href="{{path('app_contact')}}" class="filled-button">contactez-nous</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Laissez-nous vous accompagner</h6>
                  <h4>Formalités administratives<br>&amp; comptables</h4>
                  <p>Notre équipe administrative s'occupe, pour vous, de toutes les démarches administratives, en vous préservant de tout risque.</p>
                  <a href="{{path('app_services')}}" class="filled-button">nos services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Un accompagnement tout au long de la vie</h6>
                  <h4>Accompagnement<br>&amp; réseau</h4>
                  <p>Une fois installé, continuez de profiter de nos services et de notre réseau tout au long de la vie de votre entreprise.</p>
                  <a href="{{path('app_about')}}" class="filled-button">en savoir plus</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->