<!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Nous sommes là pour vous aidez</h6>
                  <h4>Conseils<br>&amp; accompagnement</h4>
                  <p>Labela Business est là pour accompagner dans vos démarches administratives. <a href="one-page.html">One-page version</a> is available as of 2021 February.</p>
                  <a href="{{path('app_contact')}}" class="filled-button">contactez-nous</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Nous sommes là pour vous supportez</h6>
                  <h4>Accounting<br>&amp; Management</h4>
                  <p>You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.</p>
                  <a href="{{path('app_services')}}" class="filled-button">nos services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>a propos de nous</h6>
                  <h4>Market Analysis<br>&amp; Statistics</h4>
                  <p>You can download, edit and use this layout for your business website. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                  <a href="{{path('app_about')}}" class="filled-button">en savoir plus</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->